@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700;800&display=swap");
$color-primary: #db4c3f;

body {
  font-family: Inter, sans-serif;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

@mixin flexCenter() {
  display: flex;
  align-items: center;
}

@mixin hover() {
  cursor: pointer;
  background-color: #e9e8e8;
}

#container {
  height: 100vh;
  width: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
}

.section {
  height: 100%;
  width: 100%;
  display: flex;

  &--main {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 3em 0;
    // background-color: red;
    // align-items: center;

    margin: 0 auto;
  }
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  &__text {
    &--title {
      height: fit-content;
      width: 100%;
      padding-bottom: 0.25em;
      border-bottom: solid 5px #e4e4e4;
    }

    &--prompt {
      text-align: center;
    }
  }
  &__button {
    appearance: none;
    border: none;
    outline: none;
    &--add {
      height: 60px;
      width: 200px;
      @include flexCenter();
      justify-content: center;
      border-radius: 30px;
      gap: 1em;
      flex-direction: row-reverse;
      background-color: $color-primary;
      color: white;
      font-size: 1.15rem;

      &:hover {
        background-color: #bd453a;
        cursor: pointer;
      }
    }
  }
}
// TODO: adjust margin-left
.navbar {
  @include flexCenter();
  padding: 0 2rem;
  gap: 50%;
  width: 100%;
  background-color: $color-primary;
  color: white;
  z-index: 2;
  &__menu {
    @include flexCenter();
    justify-content: center;
    height: 40px;
    width: 40px;
    transition: background-color 0.5s;
    border-radius: 10px;

    &:hover {
      background-color: #bd453a;
      cursor: pointer;
    }
  }
}

.sidebar {
  width: 250px;
  height: 100%;
  background-color: #fafafa;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2rem 2rem 2rem 1rem;
  justify-content: flex-start;
  // z-index: 1;
  // position: absolute;
  // transition: ease-in-out left 0.35s;
  transition: ease-in-out margin-left 0.35s;
  margin-left: 0px;
  &__item {
    @include flexCenter();
    gap: 1rem;
    width: inherit;
    flex-basis: 100%;
    transition: background-color 0.5s;
    border-radius: 10px;

    &:hover {
      @include hover();
    }
  }

  &__icon {
    height: 26px;
    padding-left: 16px;

    &--small {
      padding: 0;
      height: 22px;
      border-radius: 10px;
      transition: ease-in 0.25s;
      padding: 0.25em;
      &:hover {
        background-color: #fff;
        cursor: pointer;
      }
    }
  }

  &__text {
    &--main {
      margin-top: 2em;
    }
  }

  &__button {
    width: 35%;
    appearance: none;
    background: transparent;
    border: 1px solid #bcb3b3;
    border-radius: 10px;
    padding: 0.4em;
    transition: ease-in-out background-color 0.25s;
    &:hover {
      @include hover();
    }
    &--add {
      @include flexCenter();
      justify-content: flex-end;
      flex-direction: row-reverse;
      gap: 1rem;
      background-color: transparent;
      border: none;
      padding: 1rem;
      color: #837d7d;
      width: 100%;
      transition: background-color 0.5s, color 0.5s;
      border-radius: 10px;
      &:hover {
        @include hover();
        color: $color-primary;
      }
    }

    &--container {
      @include flexCenter();
      justify-content: flex-end;
      gap: 0.5em;
    }

    &--primary {
      background-color: $color-primary;
      color: white;
      border-color: $color-primary;
      opacity: 1;
      &:hover {
        background-color: #bd453a;
      }

      &:disabled {
        opacity: 0.5;
      }
    }
  }

  &--open {
    margin-left: 0;
  }

  &__input {
    width: 80%;
    border: none;
    background-color: transparent;

    &:focus,
    &:active {
      border: none;
      outline: none;
    }
    &--container {
      display: flex;
      gap: 1em;
      border: 1px solid #bcb3b3;
      border-radius: 10px;
      padding: 0.5em 0;

      &--output {
        padding: 0;
        padding-right: 8px;
        align-items: center;
        border: none;
      }
    }

    &--row {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
    }
  }

  &__project--option {
    display: flex;
    gap: 0.25em;
  }
}

.hidden {
  opacity: 0;
}

.task {
  &__container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    padding: 8px 16px;

    &--select {
      display: flex;
      border: none;
      gap: 2em;
    }
  }

  &__input {
    appearance: none;
    border: none;
    outline: none;
    padding: 8px;

    &--select {
      border: 1px solid #837d7d;
      min-width: 150px;
      max-width: 150px;
    }
  }
}

input[type="date"] {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  color: #249442;
}

select {
  background-image: url(https://coothead.co.uk/images/world.png);
  background-repeat: no-repeat;
  background-size: 0.8em auto;
  background-position: 0.4em center;
  font-size: 1.5em;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: red;
  opacity: 1;
  display: block;
  background: url(../assets/calendar.svg) no-repeat;
  border-width: thin;
}
